<div>
    <p>
        Angular (also referred to as "Angular 2+")[4] is a TypeScript-based, free and open-source single-page web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.
    </p>
    <h3>Differences between Angular and AngularJS</h3>
    <p>
        Google designed Angular as a ground-up rewrite of AngularJS.
        Angular does not have a concept of "scope" or controllers; instead, it uses a hierarchy of components as its primary architectural characteristic
    </p>
</div>