/* You can add global styles to this file, and also import other style files */
body {
    background-color: antiquewhite;
    margin: 20px 10px 10px 10px;
    margin-left: 40px;
    padding: 10px 10px 10px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}